*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fbfcdc;
	font-family: Tahoma, sans-serif;
}

/* CSS for the Navigation Bar */
:root {
	--color-primary: #fc9003;
	--color-white: #ffffff;
	--color-black: #d9c671;
	--color-black-1: #ffffff;
}

.menu-bar {
	background-color: var(--color-black);
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	position: relative;
	z-index:2;
}

.menu-bar img {
	max-width: 9vw;
}

.menu-bar ul {
	list-style: none;
	display: flex;
}

.menu-bar ul li {
	padding: 10px 30px;
	position: relative;
}

.menu-bar ul li a {
	font-size: 1.2vw;
	color: var(--color-white);
	text-decoration: none;
	transition: all 0.3s;
	font-family: Tahoma, sans-serif;
}

.menu-bar ul li a:hover {
	color: var(--color-primary);
}

.sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* CSS for the main body of index.html */
.dark {
	filter: brightness(50%);
	object-fit: cover;
}

.main-head{
	top: 50%;
	left: 50%;
	position: absolute;
	text-align: center;
	color: white;
	transform: translate(-50%,-50%);
	font-size: 20px;
}

.box{
	font-size: 35px;
	font-weight: bold;
	opacity: 0;
	position: absolute;
	text-align: center;
}
.t1 {
	animation: f1 20s infinite;
}

.t2 {
	animation: f2 20s infinite;
}

.t3 {
	animation: f3 20s infinite;
}

.t4 {
	animation: f4 20s infinite;
}

.t5 {
	animation: f5 20s infinite;
}

@keyframes f1 {
	0%{
		opacity: 0;
	}
	10%{
		opacity: 1;
	}
	20%{
		opacity: 0
	}
}

@keyframes f2 {
	20%{
		opacity: 0;
	}
	30%{
		opacity: 1;
	}
	40%{
		opacity: 0
	}
}

@keyframes f3 {
	40%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	60%{
		opacity: 0
	}
}

@keyframes f4 {
	60%{
		opacity: 0;
	}
	70%{
		opacity: 1;
	}
	80%{
		opacity: 0
	}
}

@keyframes f5 {
	80%{
		opacity: 0;
	}
	90%{
		opacity: 1;
	}
	100%{
		opacity: 0
	}
}

.video{
  	margin: auto;
  	width: 800px;
  	height: 500px;
  	color: black;
  	background-color: white;
  	border: none;
	border-radius: 5px;
}

.buttons {
	width: 200px;
  	background-color: #d18800;
  	color: black;
  	font-size: 16px;
  	padding: 16px 30px;
  	border: none;
  	cursor: pointer;
  	border-radius: 5px;
  	text-align: center;
  	margin: 2vw;
}

.buttons:hover {
  	background-color: #a16800;
  	color: white;
  	transition: all 0.3s;

}

footer {
  	background-color: #d9c671;
  	padding: 1.5rem;
  	font-size: 1vw;
  	color: white;
  	text-align: center;
}

footer img {
    max-width: 9vw;
}

section {
  	min-height: 100vh;
  	width: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 100px 0;
  	background-color: rgb(26, 26, 27);
}
.container {
  	width: 100%;
  	height: 90%;
  	max-width: 1200px;
  	margin: 0 auto;
  	padding: 20px;
}
.brand {
  	text-align: center;
  	font-size: 2rem;
  	color: #ffa200;
  	margin-bottom: 30px;
}
form {
  	width: 50%;
  	max-width: 400px;
  	margin: 20px auto;
  	background-color: white;
}
input {
  	width: 90%;
  	padding: 10px;
  	border-radius: 4px;
  	border: none;
  	outline: none;
  	font-size: 2rem;
  	background-color: white;
  	display: inline-block;
}

.search-result {
  	margin-top: 50px;
  	width: 100%;
  	display: grid;
  	grid-gap: 25px;
  	grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
.item {
  	width: 100%;
  	border-radius: 8px;
  	background-color: rgb(37, 37, 37);
  	padding: 15px;
  	overflow: hidden;
}
.item img {
  	width: 100%;
  	height: 300px;
  	border-radius: 4px;
}
.flex-container {
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
}
.search-result .title {
  	color: whitesmoke;
  	margin: 20px 10px 0 0;
  	font-size: 1.8rem;
  	font-weight: 400;
}
.view-btn {
  	text-decoration: none;
  	text-align: center;
  	width: 130px;
  	padding: 10px 0;
  	background-color: #404041;
  	color: whitesmoke;
  	font-size: 1.4rem;
  	font-weight: 600;
  	margin-top: 20px;
  	border-radius: 4px;
  	align-self: flex-start;
}
.item-data {
  	color: whitesmoke;
  	display: block;
  	margin-top: 10px;
  	font-size: 1.4rem;
  	letter-spacing: 0.05rem;
  	line-height: 2rem;
}